-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: parking_management
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `account`
--

DROP TABLE IF EXISTS `account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `account` (
  `account_id` varchar(36) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('ADMIN','STAFF') NOT NULL,
  `username` varchar(50) NOT NULL,
  PRIMARY KEY (`account_id`),
  UNIQUE KEY `UKgex1lmaqpg0ir5g1f5eftyaa1` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account`
--

LOCK TABLES `account` WRITE;
/*!40000 ALTER TABLE `account` DISABLE KEYS */;
INSERT INTO `account` VALUES ('3cc39d83-60be-11f1-9aa4-bafb061cf531','$2a$10$riOsq0JyAqDzFCXShMPvxeqILBKQnYdZik/ZYpeeEEodkyCMkf6Pq','STAFF','bot_staff1'),('3cc3a1b1-60be-11f1-9aa4-bafb061cf531','$2a$10$riOsq0JyAqDzFCXShMPvxeqILBKQnYdZik/ZYpeeEEodkyCMkf6Pq','STAFF','bot_staff2'),('4f80a0e8-dc30-4204-88f4-d49b532f4c98','$2a$10$rXuwHeF0G7arlogLGO9bAu95KjfdWfrgDhQXMsnd3Ax5hmnCbTt1y','STAFF','thaidui'),('798e8697-616c-11f1-88dd-f2c2d9aff02e','$2a$10$riOsq0JyAqDzFCXShMPvxeqILBKQnYdZik/ZYpeeEEodkyCMkf6Pq','ADMIN','admin');
/*!40000 ALTER TABLE `account` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `active_monthly_registration`
--

DROP TABLE IF EXISTS `active_monthly_registration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `active_monthly_registration` (
  `id` varchar(36) NOT NULL,
  `expiration_date` datetime(6) NOT NULL,
  `issue_date` datetime(6) NOT NULL,
  `create_by` varchar(36) NOT NULL,
  `customer_id` varchar(36) NOT NULL,
  `payment_id` varchar(36) NOT NULL,
  `vehicle_id` varchar(36) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKit4ie9ugapu9w12rgpuut6tvm` (`payment_id`),
  KEY `FKgnj8ynbkhqvri5bnqxgi43vh6` (`create_by`),
  KEY `FKelmthpw1o7rw4lvq6jtw4qggl` (`customer_id`),
  KEY `FKdce2icjt2dd0jqs8avesd6cb8` (`vehicle_id`),
  CONSTRAINT `FK342547ublvnwhte7f8lxxm2p8` FOREIGN KEY (`payment_id`) REFERENCES `payment` (`payment_id`),
  CONSTRAINT `FKdce2icjt2dd0jqs8avesd6cb8` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicle` (`vehicle_id`),
  CONSTRAINT `FKelmthpw1o7rw4lvq6jtw4qggl` FOREIGN KEY (`customer_id`) REFERENCES `customer` (`customer_id`),
  CONSTRAINT `FKgnj8ynbkhqvri5bnqxgi43vh6` FOREIGN KEY (`create_by`) REFERENCES `account` (`account_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `active_monthly_registration`
--

LOCK TABLES `active_monthly_registration` WRITE;
/*!40000 ALTER TABLE `active_monthly_registration` DISABLE KEYS */;
/*!40000 ALTER TABLE `active_monthly_registration` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer` (
  `customer_id` varchar(36) NOT NULL,
  `address` varchar(200) NOT NULL,
  `customer_type` enum('LECTURER','STUDENT') NOT NULL,
  `dob` date NOT NULL,
  `email` varchar(100) NOT NULL,
  `gender` enum('FEMALE','MALE') NOT NULL,
  `name` varchar(100) NOT NULL,
  `phone_number` varchar(15) NOT NULL,
  PRIMARY KEY (`customer_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer`
--

LOCK TABLES `customer` WRITE;
/*!40000 ALTER TABLE `customer` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expire_monthly_registration`
--

DROP TABLE IF EXISTS `expire_monthly_registration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `expire_monthly_registration` (
  `id` varchar(36) NOT NULL,
  `expiration_date` datetime(6) NOT NULL,
  `issue_date` datetime(6) NOT NULL,
  `create_by` varchar(36) NOT NULL,
  `customer_id` varchar(36) NOT NULL,
  `payment_id` varchar(36) NOT NULL,
  `vehicle_id` varchar(36) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKsl2ix355e4lgkgsppo43rpln2` (`payment_id`),
  KEY `FKa43iiquysjfgmbo3o8wegmlmr` (`create_by`),
  KEY `FK1gm62p13tphn9tfmwapnmlsn0` (`customer_id`),
  KEY `FK77u5imfic4866pf69xu3qlvln` (`vehicle_id`),
  CONSTRAINT `FK1gm62p13tphn9tfmwapnmlsn0` FOREIGN KEY (`customer_id`) REFERENCES `customer` (`customer_id`),
  CONSTRAINT `FK77u5imfic4866pf69xu3qlvln` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicle` (`vehicle_id`),
  CONSTRAINT `FKa43iiquysjfgmbo3o8wegmlmr` FOREIGN KEY (`create_by`) REFERENCES `account` (`account_id`),
  CONSTRAINT `FKjarbkbqethybvhkcohlejxou5` FOREIGN KEY (`payment_id`) REFERENCES `payment` (`payment_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expire_monthly_registration`
--

LOCK TABLES `expire_monthly_registration` WRITE;
/*!40000 ALTER TABLE `expire_monthly_registration` DISABLE KEYS */;
/*!40000 ALTER TABLE `expire_monthly_registration` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lecturer_information`
--

DROP TABLE IF EXISTS `lecturer_information`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lecturer_information` (
  `customer_id` varchar(36) NOT NULL,
  `lecturer_id` varchar(20) NOT NULL,
  PRIMARY KEY (`customer_id`),
  CONSTRAINT `FK9hfipt89m60y41q71pao9rsxb` FOREIGN KEY (`customer_id`) REFERENCES `customer` (`customer_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lecturer_information`
--

LOCK TABLES `lecturer_information` WRITE;
/*!40000 ALTER TABLE `lecturer_information` DISABLE KEYS */;
/*!40000 ALTER TABLE `lecturer_information` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `missing_report`
--

DROP TABLE IF EXISTS `missing_report`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `missing_report` (
  `report_id` varchar(36) NOT NULL,
  `address` varchar(200) NOT NULL,
  `brand` varchar(50) NOT NULL,
  `color` varchar(30) NOT NULL,
  `create_at` datetime(6) NOT NULL,
  `gender` enum('FEMALE','MALE') NOT NULL,
  `identification` varchar(30) NOT NULL,
  `identifier` varchar(20) DEFAULT NULL,
  `license_plate` varchar(20) DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `phone_number` varchar(15) NOT NULL,
  `create_by` varchar(36) NOT NULL,
  `payment_id` varchar(36) NOT NULL,
  `record_id` varchar(36) DEFAULT NULL,
  `vehicle_type` varchar(36) NOT NULL,
  PRIMARY KEY (`report_id`),
  UNIQUE KEY `UKlr2ve30rdljmi349yoruryeh2` (`payment_id`),
  UNIQUE KEY `UK5ubcv413nir5mmur4ayoyvtle` (`record_id`),
  KEY `FK7cn32xjlgnrehx02y0kk6vt7o` (`create_by`),
  KEY `FK52y3gqmneqflq694ne7dwekyk` (`vehicle_type`),
  CONSTRAINT `FK52y3gqmneqflq694ne7dwekyk` FOREIGN KEY (`vehicle_type`) REFERENCES `vehicle_type` (`id`),
  CONSTRAINT `FK72sydl9n785u9unfeom0f5g0w` FOREIGN KEY (`record_id`) REFERENCES `parking_record_history` (`history_id`),
  CONSTRAINT `FK7cn32xjlgnrehx02y0kk6vt7o` FOREIGN KEY (`create_by`) REFERENCES `account` (`account_id`),
  CONSTRAINT `FKqd690tenygtiby1c8wtkbark5` FOREIGN KEY (`payment_id`) REFERENCES `payment` (`payment_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `missing_report`
--

LOCK TABLES `missing_report` WRITE;
/*!40000 ALTER TABLE `missing_report` DISABLE KEYS */;
INSERT INTO `missing_report` VALUES ('336a835e-172b-4077-abb9-bb197663d875','213 12 3','ewq','qw ','2026-06-06 07:01:22.704379','MALE','213213123',NULL,'','test','0123456789','4f80a0e8-dc30-4204-88f4-d49b532f4c98','d309dd09-080c-4047-8561-5c5fee048e6f','7309f65c-454b-45a2-88ed-25302839dff0','79906c7a-616c-11f1-88dd-f2c2d9aff02e');
/*!40000 ALTER TABLE `missing_report` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parking_card`
--

DROP TABLE IF EXISTS `parking_card`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parking_card` (
  `card_id` varchar(20) NOT NULL,
  PRIMARY KEY (`card_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parking_card`
--

LOCK TABLES `parking_card` WRITE;
/*!40000 ALTER TABLE `parking_card` DISABLE KEYS */;
/*!40000 ALTER TABLE `parking_card` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parking_record`
--

DROP TABLE IF EXISTS `parking_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parking_record` (
  `record_id` varchar(36) NOT NULL,
  `entry_time` datetime(6) NOT NULL,
  `identifier` varchar(50) DEFAULT NULL,
  `license_plate` varchar(20) DEFAULT NULL,
  `type` enum('DAILY','MONTHLY') NOT NULL,
  `card_id` varchar(20) NOT NULL,
  `staff_in` varchar(36) NOT NULL,
  `vehicle_type` varchar(36) NOT NULL,
  PRIMARY KEY (`record_id`),
  KEY `FK9t4vmdvklcb6v8sdnp3k2mgnp` (`card_id`),
  KEY `FKmu1r46roucvicourn2l7ockdd` (`staff_in`),
  KEY `FKpajdqpdlcnvwyvek1cjujh129` (`vehicle_type`),
  CONSTRAINT `FK9t4vmdvklcb6v8sdnp3k2mgnp` FOREIGN KEY (`card_id`) REFERENCES `parking_card` (`card_id`),
  CONSTRAINT `FKmu1r46roucvicourn2l7ockdd` FOREIGN KEY (`staff_in`) REFERENCES `account` (`account_id`),
  CONSTRAINT `FKpajdqpdlcnvwyvek1cjujh129` FOREIGN KEY (`vehicle_type`) REFERENCES `vehicle_type` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parking_record`
--

LOCK TABLES `parking_record` WRITE;
/*!40000 ALTER TABLE `parking_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `parking_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `parking_record_history`
--

DROP TABLE IF EXISTS `parking_record_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `parking_record_history` (
  `history_id` varchar(36) NOT NULL,
  `entry_time` datetime(6) NOT NULL,
  `exit_time` datetime(6) DEFAULT NULL,
  `identifier` varchar(50) DEFAULT NULL,
  `license_plate` varchar(20) DEFAULT NULL,
  `type` enum('DAILY','MONTHLY') NOT NULL,
  `card_id` varchar(20) NOT NULL,
  `payment_id` varchar(36) NOT NULL,
  `staff_in` varchar(36) NOT NULL,
  `staff_out` varchar(36) DEFAULT NULL,
  `vehicle_type` varchar(36) NOT NULL,
  PRIMARY KEY (`history_id`),
  UNIQUE KEY `UKhi4a2ck8ahcvx21o01povrmhm` (`payment_id`),
  KEY `FKl1gi672twsn0n6y22ti82n8lm` (`card_id`),
  KEY `FK3ovo03gvld9qq5si1y69vxwlb` (`staff_in`),
  KEY `FK4oiac8bsjeuj0fg9mv388pngj` (`staff_out`),
  KEY `FKa1jqtneimrtfij2kolov59c5x` (`vehicle_type`),
  CONSTRAINT `FK3ovo03gvld9qq5si1y69vxwlb` FOREIGN KEY (`staff_in`) REFERENCES `account` (`account_id`),
  CONSTRAINT `FK4oiac8bsjeuj0fg9mv388pngj` FOREIGN KEY (`staff_out`) REFERENCES `account` (`account_id`),
  CONSTRAINT `FKa1jqtneimrtfij2kolov59c5x` FOREIGN KEY (`vehicle_type`) REFERENCES `vehicle_type` (`id`),
  CONSTRAINT `FKkad160e6mtf3qpew4g5jm2p6w` FOREIGN KEY (`payment_id`) REFERENCES `payment` (`payment_id`),
  CONSTRAINT `FKl1gi672twsn0n6y22ti82n8lm` FOREIGN KEY (`card_id`) REFERENCES `parking_card` (`card_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parking_record_history`
--

LOCK TABLES `parking_record_history` WRITE;
/*!40000 ALTER TABLE `parking_record_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `parking_record_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment`
--

DROP TABLE IF EXISTS `payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment` (
  `payment_id` varchar(36) NOT NULL,
  `amount` int NOT NULL,
  `create_at` datetime(6) NOT NULL,
  `payment_type` enum('MISSING','MONTHLY','PARKING') NOT NULL,
  PRIMARY KEY (`payment_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment`
--

LOCK TABLES `payment` WRITE;
/*!40000 ALTER TABLE `payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `price`
--

DROP TABLE IF EXISTS `price`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `price` (
  `type_id` varchar(36) NOT NULL,
  `day_price` int NOT NULL,
  `monthly_price` int NOT NULL,
  `night_price` int NOT NULL,
  PRIMARY KEY (`type_id`),
  CONSTRAINT `FKblceji9k39ms73tup3pmga5m6` FOREIGN KEY (`type_id`) REFERENCES `vehicle_type` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `price`
--

LOCK TABLES `price` WRITE;
/*!40000 ALTER TABLE `price` DISABLE KEYS */;
INSERT INTO `price` VALUES ('79906c7a-616c-11f1-88dd-f2c2d9aff02e',1000,25000,2000),('7990701d-616c-11f1-88dd-f2c2d9aff02e',3000,120000,4000),('7990725f-616c-11f1-88dd-f2c2d9aff02e',4000,150000,5000);
/*!40000 ALTER TABLE `price` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff`
--

DROP TABLE IF EXISTS `staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff` (
  `account_id` varchar(36) NOT NULL,
  `address` varchar(200) NOT NULL,
  `dob` date NOT NULL,
  `email` varchar(100) NOT NULL,
  `gender` enum('FEMALE','MALE') NOT NULL,
  `identification` varchar(20) NOT NULL,
  `is_active` bit(1) NOT NULL,
  `name` varchar(100) NOT NULL,
  `phone_number` varchar(15) NOT NULL,
  PRIMARY KEY (`account_id`),
  UNIQUE KEY `UK7qv9ryrnvl4iwe136f4g6e5gi` (`identification`),
  CONSTRAINT `FKs9jl798sgmtrl79dm4svocvaw` FOREIGN KEY (`account_id`) REFERENCES `account` (`account_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff`
--

LOCK TABLES `staff` WRITE;
/*!40000 ALTER TABLE `staff` DISABLE KEYS */;
INSERT INTO `staff` VALUES ('3cc39d83-60be-11f1-9aa4-bafb061cf531','H├á Nß╗Öi','1995-01-01','bot1@test.com','MALE','BOT109500001',_binary '','Nguyß╗àn Bot 1','0900000001'),('3cc3a1b1-60be-11f1-9aa4-bafb061cf531','TP.HCM','1998-05-05','bot2@test.com','FEMALE','BOT109800002',_binary '','Trß║ºn Bot 2','0900000002'),('4f80a0e8-dc30-4204-88f4-d49b532f4c98','ewq wq ewq wqe','2000-01-01','thaidui@gmail.com','MALE','213131213213',_binary '','nguyen van thai dui','1232132131');
/*!40000 ALTER TABLE `staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_information`
--

DROP TABLE IF EXISTS `student_information`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_information` (
  `customer_id` varchar(36) NOT NULL,
  `class_info` varchar(50) NOT NULL,
  `faculty` varchar(100) NOT NULL,
  `major` varchar(100) NOT NULL,
  `student_id` varchar(20) NOT NULL,
  PRIMARY KEY (`customer_id`),
  CONSTRAINT `FKf4db6ubq8g9u8unvan07knmno` FOREIGN KEY (`customer_id`) REFERENCES `customer` (`customer_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_information`
--

LOCK TABLES `student_information` WRITE;
/*!40000 ALTER TABLE `student_information` DISABLE KEYS */;
/*!40000 ALTER TABLE `student_information` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_config`
--

DROP TABLE IF EXISTS `system_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_config` (
  `config_key` varchar(255) NOT NULL,
  `config_value` varchar(255) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`config_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_config`
--

LOCK TABLES `system_config` WRITE;
/*!40000 ALTER TABLE `system_config` DISABLE KEYS */;
INSERT INTO `system_config` VALUES ('DAY_SHIFT_START_HOUR','6','Gi├í┬╗┬¥ b├í┬║┬»t ├äΓÇÿ├í┬║┬ºu ca ng├â┬áy (0-23)'),('NIGHT_SHIFT_START_HOUR','23','Gi├í┬╗┬¥ b├í┬║┬»t ├äΓÇÿ├í┬║┬ºu ca ├äΓÇÿ├â┬¬m (0-23)');
/*!40000 ALTER TABLE `system_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicle`
--

DROP TABLE IF EXISTS `vehicle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicle` (
  `vehicle_id` varchar(36) NOT NULL,
  `brand` varchar(50) DEFAULT NULL,
  `color` varchar(30) DEFAULT NULL,
  `license_plate` varchar(20) DEFAULT NULL,
  `type_id` varchar(36) NOT NULL,
  PRIMARY KEY (`vehicle_id`),
  UNIQUE KEY `UKj5v3su3bdx4bvsk1t9dga4bsq` (`license_plate`),
  KEY `FK8qlgtkjao0ig1k8ky1ocnp4dx` (`type_id`),
  CONSTRAINT `FK8qlgtkjao0ig1k8ky1ocnp4dx` FOREIGN KEY (`type_id`) REFERENCES `vehicle_type` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicle`
--

LOCK TABLES `vehicle` WRITE;
/*!40000 ALTER TABLE `vehicle` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicle_type`
--

DROP TABLE IF EXISTS `vehicle_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vehicle_type` (
  `id` varchar(36) NOT NULL,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKelm7dknfxeji1hh96tdy7d5qh` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicle_type`
--

LOCK TABLES `vehicle_type` WRITE;
/*!40000 ALTER TABLE `vehicle_type` DISABLE KEYS */;
INSERT INTO `vehicle_type` VALUES ('79906c7a-616c-11f1-88dd-f2c2d9aff02e','Bicycle'),('7990701d-616c-11f1-88dd-f2c2d9aff02e','Motorbike'),('7990725f-616c-11f1-88dd-f2c2d9aff02e','Scooter');
/*!40000 ALTER TABLE `vehicle_type` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-06  7:07:24
