UPDATE staff SET name = 'Nguyễn Bot 1', address = 'Hà Nội' WHERE account_id = '3cc39d83-60be-11f1-9aa4-bafb061cf531'; UPDATE staff SET name = 'Trần Bot 2', address = 'TP.HCM' WHERE account_id = '3cc3a1b1-60be-11f1-9aa4-bafb061cf531';
